<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Root Menu Item -->
    <menuitem id="menu_students_root"
              name="EMS"
              sequence="10"/>

    <!-- Sub Menu Item under 'EMS' for Students -->
    <menuitem id="menu_students"
              name="Students"
              parent="menu_students_root"
              action="action_students"
              sequence="1"/>



    <!-- Sub Menu Item under 'EMS' for Configuration -->
<!--<menuitem id="menu_configuration"-->
<!--              name="Configuration"-->
<!--              parent="menu_students_root"-->
<!--              sequence="2"/>-->

</odoo>